<!doctype html>
<html lang="nl">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>CV</title>
{% for css in config.extra_css %}
<link rel="stylesheet" href="{{ css|url }}?v={{ build_date_utc.strftime('%Y%m%d%H%M%S') }}">
{% endfor %}
</head>
<body>
<div class='container'>
<aside class="urls-sidebar">
<div class="sidebar-logo"><img src="assets/img/logo-header.jpg" alt="Logo" class="sidebar-logo-img"/></div>
<a href="assets/cv.pdf" class="pdf-download-btn" download="CV - Hans Blok - {{ publicatiedatum_iso }}.pdf">Download PDF</a>
<a href="assets/cv.docx" class="pdf-download-btn" download="cv.docx">Download DOCX</a>
{{ contact_sidebar_html }}
</aside>
<div class='main-content'>
{{ page.content }}
</div>
</div>
<div class='generated'>{{ publicatiedatum_nl }}</div>
{% for js in config.extra_javascript %}
<script src="{{ js|url }}?v={{ build_date_utc.strftime('%Y%m%d%H%M%S') }}"></script>
{% endfor %}
</body>
</html>
